# Ignorar cualquier archivo temporal o de sistema
*.log
*.tmp
*.DS_Store
node_modules/

# Ignorar los archivos y carpetas que no pertenezcan a tu tema
/wp-admin/
/wp-includes/
/wp-content/plugins/
/wp-content/uploads/
